body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

main {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, #672280, #A626D3);
  color: white;
  padding: 10px 30px 10px 30px;
}

.Header section {
  display: flex;
  gap: 5px;
  align-items: center;
}

.troll-face {
  height: 60px;
}

.form {
  display: grid;
  max-width: 900px;
  align-self: center;
  width: 100%;
  grid-template: 40px 40px / minmax(0, 1fr) minmax(0, 1fr);
  gap: 17px;
  margin-bottom: 20px;
}

.form-input {
  border-radius: 5px;
  border: 1px solid #D5D4D8;
  text-indent: 5px;
}

.form-button {
  grid-column: 1 / span 2;
  border-radius: 5px;
  background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
  color: white;
  border: none;
  cursor: pointer;
}

.meme {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  max-width: 800px;
}

.meme-text {
  position: absolute;
  width: 100%;
  text-align: center;
  align-self: center;
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
    2px 2px 0 #000,
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    0 2px 0 #000,
    2px 0 0 #000,
    0 -2px 0 #000,
    -2px 0 0 #000,
    2px 2px 5px #000;
}

.top {
  top: 0;
}

.bottom {
  bottom: 0;
}

.meme-image {
  width: 100%;
  border-radius: 5px;
}